<!DOCTYPE html>
<html>
  <head>
    <title>Center Tenis</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <style type="text/css">

      .navbar.navbar-default {
        background-color: #54397E;
        font-weight: 200;
      }
      #colophon {
        background-color: #54397E;
        padding: 10px 0;
        margin-top: 20px;
      }
      .site-info a {
        color: #eee;
      }
      .panel {
        min-height: 420px;
      }
      .navbar-default .navbar-nav > li > a {
        color: #fff !important;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/customstyle.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->




  </head>

  <body>

  <div class="container header-area">
    <header id="masthead" class="site-header col-sm-12" role="banner">
      <div class="site-branding col-md-6">
        <h1 class="site-title"><a href="/" rel="home">Center Tenis</a></h1>
        <h4 class="site-description">Administrador para la base de datos de las Clases de Tenis</h4>
      </div>
      <div class="social-header col-md-6">
      </div>
    </header><!-- #masthead -->
  </div>

  <nav class="navbar navbar-default site-info" role="navigation">
    <div class="site-info container">
      <div class="navbar-collapse">

        <ul id="menu-bootstrap-demo" class="nav navbar-nav">
          <li id="inicio" class="menu-item active"><a title="Inicio" href="/">Inicio</a></li>
          <li id="alumno" class="menu-item"><a title="Alumnos" href="/alumno">Alumnos</a></li>
          <li id="profesor" class="menu-item"><a title="Profesor" href="/profesor">Profesor</a></li>
          <li id="entrenamientos" class="menu-item"><a title="Entrenamientos" href="/entrenamientos">Entrenamientos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"><li></li></ul>
      </div>
    </div>
  </nav>

    <%- body %>

  <footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info container">
      <div class="row">
        <nav role="navigation" class="col-md-6">
          <ul id="menu-my-personal" class="nav footer-nav clearfix"><li id="menu-item-1663" class="menu-item"><a href="#">Sample Page</a></li>
          </ul>
        </nav>
        <nav role="navigation" class="col-md-6">
          <ul id="menu-my-personal" class="nav footer-nav clearfix"><li id="menu-item-1663" class="menu-item"><a href="#">Realizado por Ivan Arno y Carlos De Castro</a></li>
          </ul>
        </nav>
      </div>
    </div><!-- .site-info -->
  </footer>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/third-party/additional-methods.js"></script>
    <script src="/js/third-party/bootstrap.js"></script>
    <script src="/js/third-party/jquery-1.11.1.js"></script>
    <script src="/js/third-party/jquery.form.js"></script>
    <script src="/js/third-party/jquery.min.js"></script>
    <script src="/js/third-party/jquery.validate.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
