<div class="container panel">
  <form action="/torneo/create" method="POST" >
    <h2>Crear un torneo</h2>

    
    <input type="text" placeholder="Nombre" name="nombre" ><br />
    <input type="date" placeholder="Fecha" name="fecha_torneo" ><br />
    <input type="text" placeholder="Premio" name="premio" ><br />
    <input type="text" placeholder="Resultado" name="resultado" ><br />
    <input type="text" placeholder="Lugar" name="lugar_torneo" ><br />

    <input type="submit" value="Crear Torneo" >
  </form>
</div>
