<!DOCTYPE html>
<html>
<body>

<td>
<a href="/alumno">
<img src="/images/alumnos.jpg" alt="Go to /alumno" width="500" height="500" >
</d>
</td>

<td>

<a href="/profesor">
<img src="/images/profesor.jpeg" alt="Go to /profesor" width="500" height="500">
</a>
</td>

</body>
</html>