<div class="container panel">
  <h1>Tarea</h1>

  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <button class="btn"><a href="/Tarea/query1/">Query 1</a></button>
      <p><a href="/Tarea/show/">Query 2</a></p>
      <p><a href="/Tarea/show/">Query 3</a></p>
      <p><a href="/Tarea/show/">Query 4</a></p>
      <p><a href="/Tarea/show/">Query 5</a></p>
    </tr>
  </table>

</div>