<div class="container panel">
  <h1>Tarea</h1>

  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
     <p><button class="btn"><a href="/Tarea/query1/">Query 1</a></button></p>
     <p><button class="btn"><a href="/Tarea/query2/">Query 2</a></button></p>
     <p><button class="btn"><a href="/Tarea/query3/">Query 3</a></button></p>
     <p><button class="btn"><a href="/Tarea/query4/">Query 4</a></button></p>
     <p><button class="btn"><a href="/Tarea/query5/">Query 5</a></button></p>
    </tr>
  </table>

</div>