<!DOCTYPE html>
<html>
<head>

<div class="container panel">
  <h1>Query 3</h1>


</head>
<body>
    <div align="center">    
        <h1> ENUNCIADO: Lista de películas que nunca han sido rentadas</h1>
        <form method="POST">
             <button type="submit" style="margin:20px;" class="btn btn-lg btn-query"><span class="glyphicon glyphicon-play"></span> Query # </button>
        </form>
    </div>

    <div id="showData" class="table-responsive"></div>

    

  <table class="table">
    <tr>
      <th>Peliculas no rentadas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(tarea, function (tarea) { %>
    <tr data-id="<%= tarea.id  %>" data-model="tarea" >
      <td><%= tarea.title %></td>
    </tr>
    <% }) %>
  </table>
</div>


</body>
</html>