<!DOCTYPE html>
<html>
<head>

<div class="container panel">
  <h1>Query 1</h1>


</head>
<body>
	<div align="center">	
		<h1> ENUNCIADO: Peliculas de 3 actores específicos, de 2 categorías específicas, con cantidad de ciudades en las que se mostraran, su descripción y si son en ingles (true /false)</h1>
		
		<button style="margin:20px;" class="btn btn-lg btn-query" onclick="creartabla()"><span class="glyphicon glyphicon-play"></span> Query # </button>
	</div>

	<div id="showData" class="table-responsive"></div>

    

  <table class="table">
    <tr>
      <th>Primer Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(tarea, function (tarea) { %>
    <tr data-id="<%= tarea.id %>" data-model="tarea" >
      <td><%= tarea.first_name %></td>
    </tr>
    <% }) %>
  </table>
</div>


</body>
</html>
