<!DOCTYPE html>
<html>
<head>

<div class="container panel">
  <h1>Query 4</h1>


</head>
<body>
    <div align="center">    
        <h1> ENUNCIADO: Listado de clientes con más de 3 días de retraso en la devolución de la película. </h1>
        
        <form method="POST">

        
             <button type="submit" style="margin:20px;" class="btn btn-lg btn-query"><span class="glyphicon glyphicon-play"></span> Query # </button>
        </form>
    </div>

    <div id="showData" class="table-responsive"></div>

    

  <table class="table">
    <tr>
      <th>Cliente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(tarea, function (row) { %>
    <tr>
      <td><%= row.Cliente %></td>
    </tr>
    <% }); %>
  </table>


</body>
</html>