<!DOCTYPE html>
<html>
<head>

<div class="container panel">
  <h1>Query 2</h1>


</head>
<body>
    <div align="center">    
        <h1> ENUNCIADO: Quien de los empleados rento más películas, la cantidad, y el total de ganancia generada por ese empleado</h1>
        <form method="POST">
             <button type="submit" style="margin:20px;" class="btn btn-lg btn-query"><span class="glyphicon glyphicon-play"></span> Query # </button>
        </form>
     
    </div>

    <div id="showData" class="table-responsive"></div>

    

  <table class="table">
    <tr>
      <th>Empleado</th>
      <th>Rentas Totales</th>
      <th>Ganancia total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(tarea, function (row) { %>
<tr>
  <td><%=row.Empleado %></td>
  <td><%=row.RentasTotales %></td>
  <td><%=row.GananciaTotal %></td>

</tr>
  
  <% }) %>
  </table>
</div>


</body>
</html>