<div class="container panel">
  <form action="/profesor/create" method="POST" >
    <h2>Crear un profesor</h2>

    <input type="text" placeholder="Nombres" name="nombre" ><br />
    <input type="text" placeholder="Apellidos" name="apellido" ><br />
    <input type="text" placeholder="Email" name="email" ><br />
    <input type="text" placeholder="Cedula" name="cedula" ><br />
    <input type="text" placeholder="Sexo" name="sexo" ><br />
    <input type="text" placeholder="Telefono" name="telefono" ><br />
    <input type="text" placeholder="Nacimiento" name="nacimiento" ><br />

    <input type="submit" value="Crear Profesor" >
  </form>
</div>
