<div class="container panel">
  <h1>Tarea</h1>

  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
     <p><button class="btn"><a href="/queryquiz/queryquiz/">Query 1</a></button></p>

    </tr>
  </table>

</div>